@{
    ViewData["Title"] = "Contact Page";
}

<div class="contact-div">
    <h1 class="contact-h1">How can we help you today?</h1>
    <div class="contact-img">
        <img src="./css/Assets/contact-img.png" alt="Cat looking the celing" />
    </div>
    <div class="contact-info">

        <form action="" class="contact-form" id="contact-form">
            <div class="input-div">
                <label for="name" class="contact-label">Name</label>
                <input type="text" class="contact-input" id="name" name="name" />
            </div>
            <div class="input-div">
                <label for="email" class="contact-label">Email</label>
                <input type="email" class="contact-input" id="email" name="email" />
            </div>
            <div class="input-div">
                <label for="message" class="contact-label">Message</label>
                <textarea id="message" name="message" rows="4" cols="50">
            </textarea>
            </div>
            <button class="page-btn form-btn" type="submit" form="form1" value="Submit">Submit</button>
        </form>
    </div>
    
  
</div>