@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero-info">
        <h1>Adopt your best friend</h1>
        <p class="hero-paragraph"></p>
    </div>
    <div class="hero-img"></div>

</div>
