@{
    ViewData["Title"] = "Pets Page";
}

<div>
    <h1>We can help you find a good home for your pet</h1>
    <p>We know this is a difficult decision, but we can make it more bearable</p>

    <form >
        <input />
        <input />
        <input />
        <input />
        <input />
        <input />
    </form>
</div>
    

            
 
