@{
    ViewData["Title"] = "About Page";
}

<div class="about-div">
    <div class="about-info">
        <h1 class="about-h1">Our Service</h1>

        <p class="about-paragraph">
            As a team of experienced pet owners and lovers, we really get to know you to select the perfect pet for you.
            <br />
            <strong>Pet Adoption: </strong>
            <br />
            The primary service of our adoption centers is to facilitate the adoption of homeless pets.
            <br />
            <strong>Animal Rescue: </strong>
            <br />
            We also provide the service to help you find an excellent home of those pets that you can't have in your home anymore.
        </p>
    </div>
    <div class="about-img">
        <img src="./css/Assets/about-dog.png" alt="Dog ready to play" />
    </div>
</div>