@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="hero-info">
        <h1 class="hero-h1">Adopt your new best friend</h1>
        <div>
            <p class="hero-paragraph">
                This pet adoption site is an online platform that connects people interested in adopting pets.
                We provide detailed information about each of them, including their medical history and behavior, to
                help adopters make the best decision. In addition, we can help you to give a home to that animal that need it.
            </p>
            <button class="page-btn"><a class="anchor" asp-area="" asp-controller="Pets" asp-action="Index">ADOPT</a></button>
            <button class="page-btn"><a class="anchor" asp-area="" asp-controller="About" asp-action="Index">LEARN NOW</a></button>
        </div>
    </div>
    <div>
        <img src="./css/Assets/main-img.png" alt="Pets" class="main-bg-img" />
    </div>
</div>